Different headlines:

<h1 style="color: #e3db24;">08 | Improving the Model</h1>
<h2 style="color: #ec7511;">Normalization using MinMaxScaler</h2>
<h3 style="color: #ec300e;">X-y Split</h3>
<h4 style="color: #bb1010;">Metrics</h4>
<h5 style="color: #bb1066;">so so</h5>

Graphic Colors:

Rosa: 
Orange:e8

# <span style="color: #e3db24;">00 | Libraries and Settings</span>

In [3]:
# ðŸ“•ðŸ“—ðŸ“˜ Basic Libraries
import pandas as pd
import glob
import numpy as np
from numpy import rec
import os
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats


# ðŸ›ž Machine Learning
import xgboost as xgb
import statsmodels.api as sm
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [4]:
# ðŸ™Œ Settings
pd.set_option('display.max_columns', None) # display all columns
pd.set_option('display.float_format', '{:,.2f}'.format)
import warnings
warnings.filterwarnings('ignore') # ignore warnings

# <span style="color: #e3db24;">01 | Data Extraction and Exploration</span>

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>Next Steps: Merge all excel files on the column "country"</strong>
<p>I have extracted 20 excel files containing data on female labour and indicators which might be connected to it from the OECD Family Database and the Eurostat Labour Force Survey. Each file contains at least two columns, some several. Each table contains the column "country". In the following, I will create one dataframe for all the data and merge them on their common column "country".</p>
</div>

In [5]:
folder_path = "data/edited_data"  # path to folder containing the data
file_pattern = f"{folder_path}/*.xlsx" # pattern to identify data

excel_files = glob.glob(file_pattern) # list of all excel files in this folder, the globe library finds every file according to the pattern

if len(excel_files) == 0: # raising an error if there are no excel files
    raise FileNotFoundError("No excel files found in this directory.")

merged_df = pd.read_excel(excel_files[0]) # import the first file

for file in excel_files[1:]: # iterate over all the other files and merging them one after the other
    df = pd.read_excel(file)
    merged_df = pd.merge(merged_df, df, on="country", how="outer")  # all rows, not only with countries from the first file

<h2 style="color: #ec7511;">Exploring the Data (First Impressions)</h2>

In [ ]:
merged_df.shape

In [ ]:
merged_df.columns

In [ ]:
merged_df.head(10)

In [ ]:
merged_df.sample(10)

In [ ]:
merged_df.info()

In [ ]:
merged_df.dtypes

In [ ]:
merged_df.describe(include="all").T

In [ ]:
merged_df.isnull().sum()

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #2d0df7;
    border-radius: 4px;
    background-color: #0dd4f7;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>Conclusions: ...</strong>
<p>TEXT</p>
    <ul>
        <li>TEXT</li>
        <li>TEXT</li>
        <li>TEXT</li>
        <li>TEXT</li>
    </ul>
</div>

# <span style="color: #e3db24;">02 | Data Cleaning</span>

## <span style="color: #ec7511;">Country Selection</span>

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>Next Steps: Keeping only EU countries</strong>
<p>After checking the number of missing values, I decided to do the main analysis only on EU countries as the data is most complete and it allows a coherent approach as the selection of countries is based on a speicific condition (EU membership).</p>
</div>

In [6]:
oecd_countries = ["Australia", "Austria", "Belgium", "Canada", "Chile", "Colombia", "Costa Rica", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Israel", "Italy", "Japan", "Korea", "Latvia", "Lithuania", "Luxembourg", "Mexico", "Netherlands", "New Zealand", "Norway", "Poland", "Portugal", "Slovak Republic", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "United Kingdom", "United States"]
eu_countries = ["Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czechia", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden"]

In [7]:
oecd_df = merged_df[merged_df['country'].isin(oecd_countries)]
print(oecd_df.shape)
print(oecd_df.isna().sum())

(38, 37)
country                                                      0
%_male_users_parental_leave_2021                            16
avg_number_children_per_woman_2021                           1
emp_rate_women                                              15
empl_rate_men                                               15
employment_rate_partnered_mothers_2021                       1
employment_rate_single_mothers_2021                          1
fathers_empl_rate_child_younger_than_6_2023                 16
mothers_empl_rate_child_younger_than_6_2023                 16
fathers_empl_rate_child6-11_2023                            16
mothers_empl_rate_child6-11_2023                            16
gender_gap_ft_equivalent_employment_rate_2021                3
gender-pay-gap_2023                                          2
maternal_emp_rate_low_edu_2024                               1
maternal_emp_rate_med_edu_2024                               1
maternal_emp_rate_high_edu_2024                              1
maternal_emp_rate_w_1_child_0-14                             1
maternal_emp_rate_w_2_child_0-14                             1
maternal_emp_rate_w_more_than_2_child_0-14                   1
maternal_emp_rate                                            1
maternal_pt_emp_rate                                         1
maternal_ft_emp_rate                                         1
mean_age_women_first_birth_2020                              1
paternal_number_weeks_full_paid_leave                        2
maternal_number_weeks_full_paid_leave                        2
number_households_0_child                                    1
number_households_1_child                                    1
number_households_2_child                                    1
number_households_more_than_2_child                          1
share_empl_pt_women                                         15
share_empl_pt_men                                           15
public_spending_early_childhood_education_care_%GDP_2019     4
public_spending_family_benefits_total_%GDP_2019              1
spending_education                                          18
spending_on_education_%GDP_2021                              4
spending_family_benefits                                    18
rate_women_managers_2021                                     5
dtype: int64

In [8]:
eu_df = merged_df[merged_df['country'].isin(eu_countries)]
print(eu_df.shape)
print(eu_df.isna().sum())

(27, 37)
country                                                      0
%_male_users_parental_leave_2021                            14
avg_number_children_per_woman_2021                           2
emp_rate_women                                               0
empl_rate_men                                                0
employment_rate_partnered_mothers_2021                       2
employment_rate_single_mothers_2021                          2
fathers_empl_rate_child_younger_than_6_2023                  0
mothers_empl_rate_child_younger_than_6_2023                  0
fathers_empl_rate_child6-11_2023                             0
mothers_empl_rate_child6-11_2023                             0
gender_gap_ft_equivalent_employment_rate_2021                2
gender-pay-gap_2023                                          1
maternal_emp_rate_low_edu_2024                               2
maternal_emp_rate_med_edu_2024                               2
maternal_emp_rate_high_edu_2024                              2
maternal_emp_rate_w_1_child_0-14                             2
maternal_emp_rate_w_2_child_0-14                             2
maternal_emp_rate_w_more_than_2_child_0-14                   2
maternal_emp_rate                                            2
maternal_pt_emp_rate                                         2
maternal_ft_emp_rate                                         2
mean_age_women_first_birth_2020                              2
paternal_number_weeks_full_paid_leave                        1
maternal_number_weeks_full_paid_leave                        1
number_households_0_child                                    2
number_households_1_child                                    2
number_households_2_child                                    2
number_households_more_than_2_child                          2
share_empl_pt_women                                          0
share_empl_pt_men                                            0
public_spending_early_childhood_education_care_%GDP_2019     6
public_spending_family_benefits_total_%GDP_2019              7
spending_education                                           0
spending_on_education_%GDP_2021                              4
spending_family_benefits                                     0
rate_women_managers_2021                                     3
dtype: int64

## <span style="color: #ec7511;">Feature Selection</span>

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>Dropping Features</strong>
    <ul>
        <li>"%_male_users_parental_leave_2021": will be dropped from the eu_df because of the high number of NaNs</li>
        <li>All other columns will be kept for now to analyze differences between countries and influence factors on female and maternal employment.</li>
    </ul>
</div>

In [9]:
eu_df = eu_df.drop(columns=["%_male_users_parental_leave_2021"])
eu_df.shape

(27, 36)

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #0df722;
    border-radius: 4px;
    background-color: #0df794;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>Extra Analysis on Paternal Leave:</strong> I will do an extra analysis on "%_male_users_parental_leave_2021" based on the countries which provide numbers for this. I expect the number of fathers who take a paternal leave to have influence on the employment rate and amount of mothers. Therefore, I will analyse the relationship between this column and the columns "maternal_emp_rate", "maternal_pt_emp_rate" and "maternal_ft_emp_rate".
</div>

In [10]:
df_paternal_leave = merged_df[merged_df["%_male_users_parental_leave_2021"].notna()]
df_paternal_leave = df_paternal_leave[["country", "%_male_users_parental_leave_2021",
                                       "maternal_emp_rate", "maternal_pt_emp_rate", "maternal_ft_emp_rate"]]
print(df_paternal_leave.shape)
print(df_paternal_leave.isna().sum())

(22, 5)
country                             0
%_male_users_parental_leave_2021    0
maternal_emp_rate                   0
maternal_pt_emp_rate                0
maternal_ft_emp_rate                0
dtype: int64

## <span style="color: #ec7511;">Renaming Columns</span>

In [ ]:
eu_df.columns

In [11]:
eu_df.rename(columns= {
    "avg_number_children_per_woman_2021": "num_children",
    "emp_rate_women": "emp_women",
    "empl_rate_men": "emp_men",
    "employment_rate_partnered_mothers_2021": "emp_mothers_partnered",
    "employment_rate_single_mothers_2021": "emp_mothers_single",
    "fathers_empl_rate_child_younger_than_6_2023": "emp_fathers_child_younger_than_6",
    "mothers_empl_rate_child_younger_than_6_2023": "emp_mothers_child_younger_than_6",
    "fathers_empl_rate_child6-11_2023": "emp_fathers_child_6_11",
    "mothers_empl_rate_child6-11_2023": "emp_mothers_child_6_11",
    "gender_gap_ft_equivalent_employment_rate_2021": "gender_emp_gap",
    "gender-pay-gap_2023": "gender_pay_gap",
    "maternal_emp_rate_low_edu_2024": "emp_mothers_low_edu",
    "maternal_emp_rate_med_edu_2024": "emp_mothers_med_edu",
    "maternal_emp_rate_high_edu_2024": "emp_mothers_high_edu",
    "maternal_emp_rate_w_1_child_0-14": "emp_mothers_1_young_child",
    "maternal_emp_rate_w_2_child_0-14": "emp_mothers_2_young_child",
    "maternal_emp_rate_w_more_than_2_child_0-14": "emp_mothers_more_than_2_young_child",
    "maternal_emp_rate": "emp_mothers",
    "maternal_pt_emp_rate": "emp_mothers_pt",
    "maternal_ft_emp_rate": "emp_mothers_ft",
    "mean_age_women_first_birth_2020": "age_first_birth",
    "paternal_number_weeks_full_paid_leave": "fathers_full_paid_leave",
    "maternal_number_weeks_full_paid_leave": "mothers_full_paid_leave",
    "number_households_0_child": "households_0_child",
    "number_households_1_child": "households_1_child",
    "number_households_2_child": "households_2_child", 
    "number_households_more_than_2_child": "households_more_than_2_child",
    "share_empl_pt_women": "emp_women_pt",
    "share_empl_pt_men": "emp_men_pt",
    "public_spending_early_childhood_education_care_%GDP_2019": "spending_early_childhood",
    "public_spending_family_benefits_total_%GDP_2019": "spending_family_benefits",
    "spending_on_education_%GDP_2021": "spending_education",
    "rate_women_managers_2021": "manager_women",   
    }, inplace=True)

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #0df722;
    border-radius: 4px;
    background-color: #0df794;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
<p><strong>Info: Column Guide</strong></p>
<p>(in most cases the data refers to the last available data for this column, mostly between 2019-2024. For more information, please look in the excel file "overview_data.xlsx" in the data folder)</p>

<p>Societal and Demographic Conditions: General Employment Rates, Gender Gaps, Household Size, Number of Children, Mean Age Mothers:</p>
    <ul>
        <li><strong>country</strong>: name of the country</li>
        <li><strong>emp_women</strong>: employment rate of women (% of women employed)</li>
        <li><strong>emp_men</strong>: employment rate of men (% of men employed)</li>
        <li><strong>emp_women_pt</strong>: rate of women who work part-time</li>
        <li><strong>emp_men_pt</strong>: rate of men who work part-time</li>
        <li><strong>gender_emp_gap</strong>: gender employment gap (fulltime equivalent)</li>
        <li><strong>gender_pay_gap</strong>: pay gap between the genders (median earnings, fulltime)</li>
        <li><strong>manager_women</strong>: proportion (%) of managers that are women </li>
        <li><strong>num_children</strong>: the number of children per woman</li>
        <li><strong>age_first_birth</strong>: mean age of women when they have their first child</li>
        <li><strong>households_0_child</strong>: number of households with no children (data is from 2015)</li>
        <li><strong>households_1_child</strong>: number of households with one childr (data is from 2015)</li>
        <li><strong>households_2_child</strong>: number of households with two children (data is from 2015)</li>
        <li><strong>households_more_than_2_child</strong>: number of households with more than two children (data is from 2015)</li>
    </ul>
<p>Parental Employment Patterns: Different Employment Rates for Mothers and Fathers (Part-time/ Full-time, Age of Children, Education):</p>
    <ul>
        <li><strong>emp_mothers</strong>: employment rate of mothers (15-64 years old) who have at least one child under 14; no distinction between full-time and part-time</li>
        <li><strong>emp_mothers_pt</strong>: part-time employment rate of mothers (15-64 years old) who have at least one child under 14</li>
        <li><strong>emp_mothers_ft</strong>: full-time employment rate of mothers (15-64 years old) who have at least one child under 14</li>
        <li><strong>emp_mothers_partnered</strong>: employment rate of partnered mothers</li>
        <li><strong>emp_mothers_single</strong>: employment rate of single mothers</li>
        <li><strong>emp_fathers_child_younger_than_6</strong>: employment rate of fathers who have at least one child who is younger than 6</li>
        <li><strong>emp_mothers_child_younger_than_6</strong>: employment rate of mothers who have at least one child who is younger than 6</li>
        <li><strong>emp_fathers_child_6_11</strong>: employment rate of fathers who have at least one child who is between 6 and 11</li>
        <li><strong>emp_mothers_child_6_11</strong>: employment rate of mothers who have at least one child who is between 6 and 11</li>
        <li><strong>emp_mothers_1_young_child</strong>: employment rate of mothers with one child under 14</li>
        <li><strong>emp_mothers_2_young_child</strong>: employment rate of mothers with two children under 14</li>
        <li><strong>emp_mothers_more_than_2_young_child</strong>: employment rate of mothers with more than two children under 14</li>
        <li><strong>emp_mothers_low_edu</strong>: employment rate of mothers who have a low level of education and a youngest child who is between 0-14</li>
        <li><strong>emp_mothers_med_edu</strong>: employment rate of mothers who have a medium level of education and a youngest child who is between 0-14</li>
        <li><strong>emp_mothers_high_edu</strong>: employment rate of mothers who have a high level of education and a youngest child who is between 0-14</li>
    </ul>
<p>Government Support and Family Benefits: Spending of State on Family-Related Fields and Parental Allowance:</p>
    <ul>      
        <li><strong>fathers_full_paid_leave</strong>: number of weeks a father receives full paid leave when a child is born</li>
        <li><strong>mothers_full_paid_leave</strong>: number of weeks a mothers receives full paid leave when a child is born</li>
        <li><strong>spending_early_childhood</strong>: percentage of GDP for public expenditure on early childhood education and care</li>
        <li><strong>spending_family_benefits</strong>: percentage of GDP spent on families in total (cash, services and tax breaks)</li>
        <li><strong>spending_education</strong>: percentage of GDP spent on primary and secondary education</li>
    </ul>
</div>

In [12]:
# sorting the columns according to the categories of the column guide
eu_df = eu_df[['country', "emp_women", "emp_men", "emp_women_pt", "emp_men_pt",
               "gender_emp_gap", "gender_pay_gap", "manager_women", "num_children",
                "age_first_birth", "households_0_child", "households_1_child",
                "households_2_child", "households_more_than_2_child",
                "emp_mothers", "emp_mothers_pt", "emp_mothers_ft",
                "emp_mothers_partnered", "emp_mothers_single",
                "emp_fathers_child_younger_than_6", "emp_mothers_child_younger_than_6",
                "emp_fathers_child_6_11", "emp_mothers_child_6_11",
                "emp_mothers_1_young_child", "emp_mothers_2_young_child",
                "emp_mothers_more_than_2_young_child", "emp_mothers_low_edu",
                "emp_mothers_med_edu", "emp_mothers_high_edu",
                "fathers_full_paid_leave", "mothers_full_paid_leave",
                "spending_early_childhood", "spending_family_benefits",
                "spending_education"]]

In [ ]:
eu_df.columns.nunique()

In [ ]:
eu_df.columns

In [ ]:
eu_df.shape

## <span style="color: #ec7511;">Checking Data Types</span>

In [ ]:
eu_df.dtypes

In [13]:
columns_to_convert = [
    "emp_women",
    "emp_men",
    "emp_women_pt",
    "emp_men_pt",
    "num_children",
    "age_first_birth",
    "households_0_child",
    "households_1_child",
    "households_2_child",
    "households_more_than_2_child",
    "emp_mothers",
    "emp_mothers_pt",
    "emp_mothers_ft",
    "emp_mothers_partnered",
    "emp_mothers_single",
    "emp_fathers_child_younger_than_6",
    "emp_mothers_child_younger_than_6",
    "emp_fathers_child_6_11",
    "emp_mothers_child_6_11",
    "emp_mothers_1_young_child",
    "emp_mothers_2_young_child",
    "emp_mothers_more_than_2_young_child",
    "emp_mothers_low_edu",
    "emp_mothers_med_edu",
    "emp_mothers_high_edu",
    "fathers_full_paid_leave",
    "mothers_full_paid_leave",
]

eu_df[columns_to_convert] = eu_df[columns_to_convert].apply(pd.to_numeric, errors='coerce')


eu_df.dtypes

country                                 object
emp_women                              float64
emp_men                                float64
emp_women_pt                           float64
emp_men_pt                             float64
gender_emp_gap                         float64
gender_pay_gap                         float64
manager_women                          float64
num_children                           float64
age_first_birth                        float64
households_0_child                     float64
households_1_child                     float64
households_2_child                     float64
households_more_than_2_child           float64
emp_mothers                            float64
emp_mothers_pt                         float64
emp_mothers_ft                         float64
emp_mothers_partnered                  float64
emp_mothers_single                     float64
emp_fathers_child_younger_than_6       float64
emp_mothers_child_younger_than_6       float64
emp_fathers_child_6_11                 float64
emp_mothers_child_6_11                 float64
emp_mothers_1_young_child              float64
emp_mothers_2_young_child              float64
emp_mothers_more_than_2_young_child    float64
emp_mothers_low_edu                    float64
emp_mothers_med_edu                    float64
emp_mothers_high_edu                   float64
fathers_full_paid_leave                float64
mothers_full_paid_leave                float64
spending_early_childhood               float64
spending_family_benefits               float64
spending_family_benefits               float64
spending_education                     float64
spending_education                     float64
dtype: object

## <span style="color: #ec7511;">Checking Null Values</span>

In [ ]:
eu_df.isnull().sum()

In [ ]:
nan_summary = eu_df.isna().sum().reset_index()
nan_summary.columns = ["Column", "Number of missing values"]
nan_summary["Percentage missing values"] = (nan_summary["Number of missing values"] / len(eu_df)) * 100

# Sort by number of missing values
nan_summary = nan_summary.sort_values(by="Number of missing values", ascending=False)
nan_summary

In [ ]:
num_complete_rows = eu_df.dropna().shape[0]
num_rows_with_max_1_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 1].shape[0]
num_rows_with_max_2_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 2].shape[0]
num_rows_with_max_3_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 3].shape[0]
num_rows_with_max_4_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 4].shape[0]
num_rows_with_max_5_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 5].shape[0]
print(f"The number of rows without missing values is: {num_complete_rows}")
print(f"The number of rows with at most 1 missing value is: {num_rows_with_max_1_missing_value}")
print(f"The number of rows with at most 2 missing values is: {num_rows_with_max_2_missing_value}")
print(f"The number of rows with at most 3 missing values is: {num_rows_with_max_3_missing_value}")
print(f"The number of rows with at most 4 missing values is: {num_rows_with_max_4_missing_value}")
print(f"The number of rows with at most 5 missing values is: {num_rows_with_max_5_missing_value}")

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>How to Proceed with Missing Values I:</strong>
<p>After some more research, I found more complete data on "spending_family_benefits" and "spending_education" (both by Eurostat), so I will drop the columns here and replace them with the new data. For "spending_early_childhood", I was not able to find replacement data and I will therefore drop this column as the number of NaNs (over 20%) according to my assessment is too high to not risk a severe influence on the analysis.</p>
</div>

In [14]:
# dropping the three columns
eu_df = eu_df.drop(columns=["spending_family_benefits", "spending_early_childhood", "spending_education"])

In [15]:
eu_df.columns

Index(['country', 'emp_women', 'emp_men', 'emp_women_pt', 'emp_men_pt',
       'gender_emp_gap', 'gender_pay_gap', 'manager_women', 'num_children',
       'age_first_birth', 'households_0_child', 'households_1_child',
       'households_2_child', 'households_more_than_2_child', 'emp_mothers',
       'emp_mothers_pt', 'emp_mothers_ft', 'emp_mothers_partnered',
       'emp_mothers_single', 'emp_fathers_child_younger_than_6',
       'emp_mothers_child_younger_than_6', 'emp_fathers_child_6_11',
       'emp_mothers_child_6_11', 'emp_mothers_1_young_child',
       'emp_mothers_2_young_child', 'emp_mothers_more_than_2_young_child',
       'emp_mothers_low_edu', 'emp_mothers_med_edu', 'emp_mothers_high_edu',
       'fathers_full_paid_leave', 'mothers_full_paid_leave'],
      dtype='object')

In [ ]:
eu_df.columns.nunique()

In [16]:
# loading new data and merging it with the existing data
path = "data/edited_data/"

spending_family = pd.read_excel(path + "spending_family_benefits.xlsx")
spending_education = pd.read_excel(path + "spending_education.xlsx")

eu_df = pd.merge(eu_df, spending_family, on="country", how="left")
eu_df = pd.merge(eu_df, spending_education, on="country", how="left")

In [ ]:
eu_df.columns

In [17]:
eu_df = eu_df[['country', 'spending_family_benefits', 'spending_education',
        'emp_women', 'emp_men', 'emp_women_pt', 'emp_men_pt',
       'gender_emp_gap', 'gender_pay_gap', 'manager_women', 'num_children',
       'age_first_birth', 'households_0_child', 'households_1_child',
       'households_2_child', 'households_more_than_2_child', 'emp_mothers',
       'emp_mothers_pt', 'emp_mothers_ft', 'emp_mothers_partnered',
       'emp_mothers_single', 'emp_fathers_child_younger_than_6',
       'emp_mothers_child_younger_than_6', 'emp_fathers_child_6_11',
       'emp_mothers_child_6_11', 'emp_mothers_1_young_child',
       'emp_mothers_2_young_child', 'emp_mothers_more_than_2_young_child',
       'emp_mothers_low_edu', 'emp_mothers_med_edu', 'emp_mothers_high_edu',
       'fathers_full_paid_leave', 'mothers_full_paid_leave']]

In [ ]:
eu_df.columns

In [ ]:
eu_df.columns.nunique()

In [ ]:
nan_summary = eu_df.isna().sum().reset_index()
nan_summary.columns = ["Column", "Number of missing values"]
nan_summary["Percentage missing values"] = (nan_summary["Number of missing values"] / len(eu_df)) * 100

# Sort by number of missing values
nan_summary = nan_summary.sort_values(by="Number of missing values", ascending=False)
nan_summary

In [ ]:
num_complete_rows = eu_df.dropna().shape[0]
num_rows_with_max_1_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 1].shape[0]
num_rows_with_max_2_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 2].shape[0]
num_rows_with_max_3_missing_value = eu_df[eu_df.isnull().sum(axis=1) <= 3].shape[0]

print(f"The number of rows without missing values is: {num_complete_rows}")
print(f"The number of rows with at most 1 missing value is: {num_rows_with_max_1_missing_value}")
print(f"The number of rows with at most 2 missing values is: {num_rows_with_max_2_missing_value}")
print(f"The number of rows with at most 3 missing values is: {num_rows_with_max_3_missing_value}")

In [ ]:
# check for rows with many missing values
eu_df['num_missing'] = eu_df.isnull().sum(axis=1)


rows_with_2_nans = eu_df[eu_df['num_missing'] == 2]
rows_with_3_nans = eu_df[eu_df['num_missing'] == 3]
rows_with_many_nans = eu_df[eu_df['num_missing'] > 3]

print(rows_with_1_nan)
print("")
print(rows_with_2_nans)
print("")
print(rows_with_3_nans)
print("")
print(rows_with_many_nans)

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>How to Proceed with Missing Values 2:</strong>
<p>As there are two countries which have a lot of NaNs (up to 22), I will exclude these from the analysis. Replacing them is not a good option because it is country-specific data which cannot be derived from other cells.</p>
</div>

In [18]:
eu_df = eu_df[eu_df.apply(lambda row: row.isna().sum() < 3, axis=1)].reset_index(drop=True)
eu_df.shape

(25, 33)

In [19]:
eu_df.country

0         Austria
1         Belgium
2        Bulgaria
3         Croatia
4          Cyprus
5         Denmark
6         Estonia
7         Finland
8          France
9         Germany
10         Greece
11        Hungary
12        Ireland
13          Italy
14         Latvia
15      Lithuania
16     Luxembourg
17          Malta
18    Netherlands
19         Poland
20       Portugal
21        Romania
22       Slovenia
23          Spain
24         Sweden
Name: country, dtype: object

In [20]:
eu_df.isna().sum()

country                                0
spending_family_benefits               0
spending_education                     0
emp_women                              0
emp_men                                0
emp_women_pt                           0
emp_men_pt                             0
gender_emp_gap                         0
gender_pay_gap                         0
manager_women                          1
num_children                           0
age_first_birth                        0
households_0_child                     0
households_1_child                     0
households_2_child                     0
households_more_than_2_child           0
emp_mothers                            0
emp_mothers_pt                         0
emp_mothers_ft                         0
emp_mothers_partnered                  0
emp_mothers_single                     0
emp_fathers_child_younger_than_6       0
emp_mothers_child_younger_than_6       0
emp_fathers_child_6_11                 0
emp_mothers_child_6_11                 0
emp_mothers_1_young_child              0
emp_mothers_2_young_child              0
emp_mothers_more_than_2_young_child    0
emp_mothers_low_edu                    0
emp_mothers_med_edu                    0
emp_mothers_high_edu                   0
fathers_full_paid_leave                0
mothers_full_paid_leave                0
dtype: int64

In [22]:
eu_df[eu_df["manager_women"].isna()]

,country,spending_family_benefits,spending_education,emp_women,emp_men,emp_women_pt,emp_men_pt,gender_emp_gap,gender_pay_gap,manager_women,num_children,age_first_birth,households_0_child,households_1_child,households_2_child,households_more_than_2_child,emp_mothers,emp_mothers_pt,emp_mothers_ft,emp_mothers_partnered,emp_mothers_single,emp_fathers_child_younger_than_6,emp_mothers_child_younger_than_6,emp_fathers_child_6_11,emp_mothers_child_6_11,emp_mothers_1_young_child,emp_mothers_2_young_child,emp_mothers_more_than_2_young_child,emp_mothers_low_edu,emp_mothers_med_edu,emp_mothers_high_edu,fathers_full_paid_leave,mothers_full_paid_leave
16,Luxembourg,3.19,1.91,66.80,73.60,29.40,8.40,15.27,0.44,NaN,1.38,31.00,66.13,14.54,14.75,4.58,77.96,17.42,57.84,77.78,79.69,93.80,81.00,93.00,83.60,80.18,77.82,69.86,72.07,75.55,81.06,20.49,38.49

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>How to Proceed with Missing Values 3:</strong>
<p>There is one missing value left, it is the share of managers who are female in Luxembourg. I will replace this with the median value of all the other countries because I do not want to loose Luxembourg as it has complete data apart from this and I also do not want to loose the column as it can be of explanatory interest regarding the status of women when it comes to employment.</p>
</div>

In [23]:
eu_df["manager_women"] = eu_df["manager_women"].fillna(eu_df["manager_women"].median())
eu_df.isna().sum()

country                                0
spending_family_benefits               0
spending_education                     0
emp_women                              0
emp_men                                0
emp_women_pt                           0
emp_men_pt                             0
gender_emp_gap                         0
gender_pay_gap                         0
manager_women                          0
num_children                           0
age_first_birth                        0
households_0_child                     0
households_1_child                     0
households_2_child                     0
households_more_than_2_child           0
emp_mothers                            0
emp_mothers_pt                         0
emp_mothers_ft                         0
emp_mothers_partnered                  0
emp_mothers_single                     0
emp_fathers_child_younger_than_6       0
emp_mothers_child_younger_than_6       0
emp_fathers_child_6_11                 0
emp_mothers_child_6_11                 0
emp_mothers_1_young_child              0
emp_mothers_2_young_child              0
emp_mothers_more_than_2_young_child    0
emp_mothers_low_edu                    0
emp_mothers_med_edu                    0
emp_mothers_high_edu                   0
fathers_full_paid_leave                0
mothers_full_paid_leave                0
dtype: int64

## <span style="color: #ec7511;">Checking Duplicates</span>

In [24]:
eu_df.duplicated().sum()

0

## <span style="color: #ec7511;">Checking Empty Spaces</span>

In [25]:
eu_df.eq(" ").sum()

country                                0
spending_family_benefits               0
spending_education                     0
emp_women                              0
emp_men                                0
emp_women_pt                           0
emp_men_pt                             0
gender_emp_gap                         0
gender_pay_gap                         0
manager_women                          0
num_children                           0
age_first_birth                        0
households_0_child                     0
households_1_child                     0
households_2_child                     0
households_more_than_2_child           0
emp_mothers                            0
emp_mothers_pt                         0
emp_mothers_ft                         0
emp_mothers_partnered                  0
emp_mothers_single                     0
emp_fathers_child_younger_than_6       0
emp_mothers_child_younger_than_6       0
emp_fathers_child_6_11                 0
emp_mothers_child_6_11                 0
emp_mothers_1_young_child              0
emp_mothers_2_young_child              0
emp_mothers_more_than_2_young_child    0
emp_mothers_low_edu                    0
emp_mothers_med_edu                    0
emp_mothers_high_edu                   0
fathers_full_paid_leave                0
mothers_full_paid_leave                0
dtype: int64

# <span style="color: #e3db24;">03 | EDA (Exploratory Data Analysis)</span>

<div style="
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f7be0d;
    border-radius: 4px;
    background-color: #e3db24;
    color: #060606;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;">
    <strong>Hypotheses:</strong>
<p>After cleaning the data, I will now do some EDA to investigate the following hypotheses:</p>
    <ul>
        <li>Hypothesis 1:</li>
        <li>Hypothesis 2:</li>
        <li>Hypothesis 3:</li>
        <li>Hypothesis 4:</li>
    </ul>
</div>

## <span style="color: #ec7511;">Statistical information about the numerical columns</span>

In [ ]:
df.describe().T

+ Measures of central tendency - Mean, median, mode
+ Measures of spread / dispersion - SD, var, range, quartiles, percentiles
+ Meaures of frequency - Frequency

+ **Range:** defines the difference between the highest and lowest values.
+ **Variance**: measures how far each number in the set is from the mean and thus from every other number in the set.
+ **Standard deviation:** The standard deviation is a statistic that measures the dispersion of a dataset relative to its mean and is calculated as the square root of the variance
+ **Quartiles:** A quartile is a statistical term that describes a division of observations into four defined intervals based on the values of the data and how they compare to the entire set of observations.
+ **Percentiles:** same but divided in 100 groups.

## <span style="color: #ec7511;">Selecting numerical</span>

In [ ]:
num = df.select_dtypes("number")

## <span style="color: #ec7511;">Checking Distributions</span>

In [ ]:
# histogram for all numberical columns

color = '#0072B2'

# grid size
nrows, ncols = 5, 4  # adjust for your number of features

fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=(20, 16))

axes = axes.flatten()

# Plot each numerical feature
for i, ax in enumerate(axes):
    if i >= len(num.columns):
        ax.set_visible(False)  # hide unesed plots
        continue
    ax.hist(num.iloc[:, i], bins=30, color=color, edgecolor='black')
    ax.set_title(num.columns[i])

plt.tight_layout()
plt.show()

In [ ]:
boxplot = num[['value(in_euro)', 'wage(in_euro)', 'release_clause', 'dribbling_total', 'short_passing', 'lf_rating']]

here shoudl be a better way: boxplots in one graphic, all next to each other, loook for code and nclude

In [ ]:
# boxplots for all num columns

color = '#0072B2'

# grid size
nrows, ncols = 5, 4 

fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=(20, 16))

axes = axes.flatten()

for i, ax in enumerate(axes):
    if i >= len(num.columns):
        ax.set_visible(False)
        continue
    ax.boxplot(num.iloc[:, i].dropna(), vert=False, patch_artist=True, 
               boxprops=dict(facecolor=color, color='black'), 
               medianprops=dict(color='yellow'), whiskerprops=dict(color='black'), 
               capprops=dict(color='black'), flierprops=dict(marker='o', color='red', markersize=5))
    ax.set_title(num.columns[i], fontsize=10)
    ax.tick_params(axis='x', labelsize=8)

plt.tight_layout()
plt.show()

## <span style="color: #ec7511;">Looking for Correlations</span>

In [ ]:
cat = df.select_dtypes(exclude="number")
num = df.select_dtypes(include="number")

In [ ]:
num_corr = round(num.corr(), 2)

In [ ]:
<div class="alert alert-block alert-info">
Tip # 4
    
- We don't want multicolinearity --> correlation between features biases the model...
- We want high correlations (+ or -) with the target --> valuable information for the predictions</div>

In [ ]:
# Correlation Matrix-Heatmap Plot which shows only half of numbers (so no doubles)
mask = np.zeros_like(num_corr)
mask[np.triu_indices_from(mask)] = True # optional, to hide repeat half of the matrix
f, ax = plt.subplots(figsize=(25, 15))
sns.set(font_scale=1.5) # increase font size
ax = sns.heatmap(num_corr, mask=mask, annot=True, annot_kws={"size": 12}, linewidths=.5, cmap="coolwarm", fmt=".2f", ax=ax) # round to 2 decimal places
ax.set_title("Dealing with Multicollinearity", fontsize=20) # add title
plt.show()

### Exercise 4: How to interpret this correlation matrix? Which other correlation methods we know?

### Specific Correlations with the Target

### Perform 3 Plots and Explain the Findings from the Data

### Contigency Tables, Chi-Square...

# <span style="color: #e3db24;">04 | Data Processing</span>

## <span style="color: #ec7511;">Moving the Target to the Right</span>

In [ ]:
#eu_df = eu_df[[col for col in eu_df.columns if col != "emp_women"] + ["emp_women"]]
#df_women = eu_df[[col for col in eu_df.columns if col != "emp_women"] + ["emp_women"]]
#df_mothers = eu_df[[col for col in eu_df.columns if col != "emp_mothers"] + ["emp_mothers"]]

## <span style="color: #ec7511;">X-Y Split</span>

## <span style="color: #ec7511;">Normalizing the Data</span>

# <span style="color: #e3db24;">05 | Modeling</span>

## <span style="color: #ec7511;">Train-Test Split</span>

## <span style="color: #ec7511;">Model Validation</span>

# <span style="color: #e3db24;">06 | Improving the Model</span>

# <span style="color: #e3db24;">07 | Reporting</span>